@charset "utf-8";
/* CSS Document */

html {
	margin: 1em;
	padding: 1em;
}

body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Francois One', sans-serif;
}

h2 {
	font-family: 'Francois One', sans-serif;
}

h3 {
	font-family: 'Francois One', sans-serif;
}

#header {
	background: #3D9825;
	text-decoration-color: white;
}

#menu {
	background: #3DB4CD;
}

.sectiontitle {
	background: #3D9825;
}