@charset "utf-8";
/* CSS Document */

/* Default page styles - styles applicable to every page */
html {
	color: #314846;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	display: grid;
	grid-template-columns: auto 25%;
	grid-template-rows: 100px 50px auto 75px;
}

h1 {
	font-family: 'Francois One', sans-serif;
	padding: 1em;
}

h2 {
	font-family: 'Francois One', sans-serif;
	padding: .25em 1em;
}

h3 {
	font-family: 'Francois One', sans-serif;
	padding: 0em 1em;
}

p {
	padding-top: auto;
	padding-left: 1em;
	padding-bottom: auto;
	padding-right: 1em;
}

a {
	color: #F99D25;
}

a:hover {
	color: #5AC5C4;
}

a:visited {
	color: #5AC5C4;
}

/* Default - Header styles */
header {
	padding: 0px .25em;
	margin: 0em 1em 0em 1em;
	grid-column: 1/3;
	grid-row: 1/2;
}

header img {
	height: 75px;
	display: block;
}

header h1 {
	padding: 0px;
}

/* Default - Nav styles */
nav {
	grid-column: 1/2;
	grid-row: 2/3;
	margin: 1em 0em;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #5AC5C4;
	position: -webkit-sticky; /* for Safari*/
	position: sticky;		/* For some reason, sticky positioning not working. Troubleshoot later. */
	top: 0;
	display: flex;
}

nav li {
	flex: 1;
	border-right: 2px solid #314846;
	text-align: center;
}

nav li:last-child {
	border-right: none;
}

nav li a {
	color: #314846;
	text-decoration: none;
	display: block;
	padding: 1em 2em;
}

nav li a:visited {
	color: inherit;
}
nav li a:hover {
	background-color: #F99D25;
	color: #FFFFFF;
	font-weight: bold;
}


.active {
	background-color:#F99D25;
}

/* Default - Content styles */
main {
	grid-column: 1/2;
	grid-row: 3/4;
}

.sectiontitle {
	background: #5AC5C4;
	padding-left: .5em;
	margin: 2em auto 1em auto;
}

.sectiontitle a {
	color: inherit;
	text-decoration: none;
}

/* Default - Aside styles */
aside {
	grid-column: 2/3;
	grid-row: 2/4;
	background-color:#E4EDEB;
	border: 5px solid #5AC5C4;
	border-bottom: none;
	margin: 1em 0em 0em;
}

/*Default - Footer styles */
footer {
	font-size: .75em;
	background-color:#5AC5C4;
	grid-column: 1/3;
	grid-row: 4/5;
	align-content: center;
}

footer img {
	height: 50px;
	padding: .25em .75em;
}

footer p {
	display: inline-block;
}

/* Home page styles */
#blogwindow {
	background-color:#E5EDEC;
	padding-bottom: 1em;
	border-left: 5px solid #5AC5C4;
}

#blogwindow a {
	color:inherit;
	text-decoration: none;
}

.blogpreview {
	border-bottom: 2px solid #5AC5C4;
}

.blogpreview:last-child {
	border-bottom: none;
}

.blogpostpreviewtitle a {
	color: inherit;
	text-decoration: none;
}

#readmore {
	font-weight: bold;
}

.advertisement {
	grid-column: 2/3;
	grid-row: 2/4;
	background-color: inherit;
	border: none;
}

.advertisement img {
	padding: 5px 10%;
}

/* About page */
#companyhistory img {
	height: 50px;
}

.employeephoto img {
	float: left;
	height: 150px;
	margin: auto 1em 1em auto;
}

.employeebio {
	display: flow-root;
	background-color:#E4EDEB;
}

/* Contact page */
#contacttable h2 {
	text-align: center;
}

#contacttable caption {
	caption-side: top;
}

#contacttable table {
	width: 50%;
	margin: 2em auto;
	text-align: center;
	border: 5px solid #5AC5C4;
	border-collapse: collapse;
	background-color:#E5EDEC;
	font-size: 1.25em;
}

#contacttable th,td {
	padding: .5em;
	border: 1px solid #5AC5C4;
}

#contacttable th {
	width: 25%;
}

#messageform form {
	width: 75%;
	padding: 1em;
	margin: 2em auto;
	border: 5px solid #5AC5C4;
	background-color:#E5EDEC;
	font-size: 1.25em;
}

#messageform label, input, textarea {
	margin: .5em;
}

#messageform input, textarea {
	padding: .5em;
	border: 2px solid #5AC5C4;
	outline: none;
}

#messageform input:focus, textarea:focus {
	border: 3px solid #314846;
}

#messageform textarea {
	width: 100%;
	height: 10em;
}

#messageform input[type=submit] {
	border: 3px solid #314846;
	background-color: #5AC5C4;
	color: #314846;
	width: 5em;
	height: 2em;
	font-size: 1.5em;
	font-weight: bold;
}

#messageform input[type=submit]:hover {
	background-color: #F99D25;
}


/* Books page */
.books {
	background-color:#E5EDEC;
	padding: 0em 1em 1em 1em;
	border: 5px solid #5AC5C4;
	margin: 3em;
}

.books a {
	color:inherit;
	text-decoration: none;
}

.books img {
	float: left;
	margin-right: 2em;
	margin-bottom: 2em;
	margin-left: 1em;
}

.books ul {
	list-style-position: inside;
}

.books li {
	line-height: 1.5em;
}

.citation {
	font-size: .75em;
	text-align: right;
}














